<!--Navbar-->
<nav class="navbar navbar-inverse" style="border-radius: 0">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        Hotel Room
      </a>
    </div>
  </div>
</nav>

<div class="container-fluid">
<div class="row">
<app-room-list [room]="roomList"></app-room-list>
</div>
</div>


