<div class="col-sm-8 col-md-8">
    <div class="row">
        <div class="col-sm-4 col-md-4" *ngFor="let r of roomList">
            <div class="thumbnail">
                <img src="{{ r.img }}" alt="room">
                <div class="caption">
                    <h5 class="pull-right">Rp. {{ r.price }}</h5>
                    <h5>{{ r.room }}</h5>
                    <p>{{ r.status }}</p>
                    <button class="btn btn-primary">Booking</button>
                </div>
            </div>
        </div>
        <!--end of div order-->

    </div>
</div>
